*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
body{
    background: #e2e2e2;
    font-family: "roboto";
}
.Apresentacao{
    width: 90%;
    max-width: 1400px;
    margin: auto
}
.Apresentacao h1{
    text-align: center;
    font-size: 38px;
    margin: 15px 0px 40px;
}
.Apresentacao-container {
    display: flex;
  justify-content: space-between 
}
.Apresentacao-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}
.Apresentacao-img{
    transition: all 0.5s;
}
.Apresentacao-text{
    position: absolute;
    bottom: 0%;
    padding: 20px;
    background-color: black;
    color: #fff;
    transform: translateY(100%);
    transition: all 0.5s ease-out;
    
}
.Apresentacao-text p{
    text-align: justify;
}
.Apresentacao-item:hover .Apresentacao-text {
    transform: translateY(0%);
}
.Apresentacao-item:hover .Apresentacao-img{
    transform: scale(1.5)
}



